#carousel {
	height: 535px;
	margin: auto;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}

#carousel div {
	width: 100%;
	height: 100%;
}

#carousel div img {
	width: 100%;
	height: 90%;
	object-fit: contain;
}

#carousel div.active {
	left: 0;
}

#carousel div {
	display: none;
}

#carousel div.active {
	display: block;
}

figure {
	width: 90%;
	height: 80%;
	margin: auto;
}

figcaption {
	display: flex;
	font-weight: bold;
	position: relative;
	justify-content: center;
	top: 20px;
}

.controls {
	width: 30%;
	position: relative;
	top: -100px;
	margin: auto;
}

button {
	width: max-content;
	color: #4400e2;
	border: none;
	border-radius: 5px;
}

.prev,
.next {
	position: absolute;
	transform: translateY(-50%);
	font-size: 15px;
	cursor: pointer;
	background-color: #ffffff;
}

.next:hover,
.prev:hover {
	box-shadow: 1px 1px 3px 1px #74737362; 
	color: #000000;
}

.prev {
	left: 5px;
}

.next {
	right: 5px;
}

/*************************************************** MEDIA-QUERIES *********************************/
@media screen and (max-width: 768px) {

#carousel {
height: 400px;
}	

.controls {
	top: -150px;
}

 .prev, .next {
	border: none;
	font-size: 12px;
	background-color: transparent;
	color: #91ff00;
	font-weight: bold;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.next:hover,
.prev:hover {
	box-shadow: none; 
	color: #91ff00 ;
}

}


@media screen and (max-width: 380px) {
#carousel {
	height: 300px;
}
.controls {
	top: -125px;
}

}
